
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min-content;
    padding: 20 0;
}

.height{
    height: 100vh;
}

button{
    padding: 12px;
    border-radius: 10px;
    border: 2px solid grey;
    color: white;
    background-color: rgb(255, 111, 0);
}